name: Demo for report generator
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # Step 1: 检出当前仓库的代码
    - name: Checkout repository
      uses: actions/checkout@v3
            - name: ReportGenerator
                - name: Code Coverage Summary

      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        # A comma separated list of code coverage files to analyse. Also supports using glob patterns to match multiple files.
        filename: reports/cobertura.xml
        # Include a Line Rate coverage badge in the output using shields.io - true / false (default).
#        badge: # optional, default is false
        # Fail if overall Line Rate below lower threshold - true / false (default).
#        fail_below_min: # optional, default is false
        # Output Format - markdown or text (default).
#        format: # optional, default is text
        # Hide Branch Rate values in the output - true / false (default).
#        hide_branch_rate: # optional, default is false
        # Hide Complexity values in the output - true / false (default).
#        hide_complexity: # optional, default is false
        # Include health indicators in the output - true (default) / false.
#        indicators: # optional, default is true
        # Output Type - console (default), file or both.
#        output: # optional, default is console
        # Threshold percentages for badge and health indicators, lower threshold can also be used to fail the action.
#        thresholds: # optional, default is 50 75
          
            
