name: Demo for report generator
on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
   
    - name: Generate HTML reports
      uses: danielpalme/ReportGenerator-GitHub-Action@5.3.11
      with:
        reports: reports/cobertura.xml
        targetdir: coveragereport

    - name: Upload GitHub Pages artifact
      uses: actions/upload-pages-artifact@v3.0.1
      with:
        # Artifact name
        name: github-pages
        # Path of the directory containing the static assets.
        path: coveragereport
          
              
