  # Sample workflow for building and deploying a Jekyll site to GitHub Pages
  name: Test generate table
  on:
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

  # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
  permissions:
    checks: write
    contents: write

  jobs:
    # Build job
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Generate table
          uses: yshi-parasoft/report-action@main

        - name: Upload table file
          uses: actions/upload-artifact@v4
          with:
            name: results.md # Artifact name        
            path: ./results.md
